.handContainer {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cardContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.title {
	font-size: 110%;
	text-align: center;
}
