.card {
	background: rgb(230, 230, 230);
	border-radius: 5px;
	box-shadow: 0 1px 10px rgb(0, 0, 0);
	cursor: default;
	padding: 5px 10px;
	position: relative;
	aspect-ratio: 5 / 7;
	max-width: 80px;
	flex: 1 1 auto;
}

.hiddenCard {
	background-image: linear-gradient(176deg, #ffffff 8.33%, #ff0000 8.33%, #ff0000 50%, #ffffff 50%, #ffffff 58.33%, #ff0000 58.33%, #ff0000 100%);
	background-size: 60.00px 4.20px;
	border: 5px solid white;
	border-radius: 5px;
	box-shadow: 0 1px 10px rgb(0, 0, 0);
	cursor: default;
	padding: 5px 10px;
	aspect-ratio: 5 / 7;
	max-width: 80px;
	flex: 1 1 auto;
}

.black {
	color: black;
}

.red {
	color: red;
}

.value {
	font-size: 100%;
	margin: 0;
}

.suit {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
