.board {
	position: relative;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: var(--pixel-size);
	padding: var(--pixel-size);
	background: var(--secondary-background);
	border-radius: var(--pixel-size);
}

.cell {
	aspect-ratio: 1;
	border-radius: var(--pixel-size);
	background: var(--cell-background);
}


.tiles {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin-bottom: var(--pixel-size);
	margin-right: var(--pixel-size);
}