.statusContainer {
	display: flex;
	gap: 10px
}

.status {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 15px;
	border: 1px solid #ffffff45;
}

.balance {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	border-radius: 15px;
	border: 1px solid #ffffff45;
}

.value {
	color: white;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.value {
		font-size: 150%;
	}
}

@media screen and (max-width: 600px) {
	.value {
		font-size: 115%;
	}
}